body {
	margin: 0;
	font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	background-color: #060a33d4;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background: rgba(215, 205, 198, 0.761);
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	max-width: 700px;
	width: 90%;
	text-align: center;
}

video {
	width: 100%;
	max-height: 400px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
	margin-top: 20px;
	font-size: 1.5rem;
	color: #0c0c0c;
}

p {
	color: #292727;
}